<!DOCTYPE html>
<html lang="{{if .Params.lang }}{{ .Params.lang }}{{ else }}{{ .Site.LanguageCode }}{{ end }}">

{{ $page_title := .Title }}
{{if not .Title }}
{{ $page_title = findRESubmatch `<h1.*?>(.*?)</h1>` .Content 1 }}
{{ $page_title = index $page_title 0 }}
{{ $page_title = index $page_title 1 }}
{{ end }}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ $page_title }} | {{ .Site.Title }}</title>
    <link rel="stylesheet" href="{{ "/css/style.css" | relURL }}" />
    <link rel="stylesheet" href="{{ "/css/fonts.css" | relURL }}" />
    {{ block "head" . }}{{ end }}
</head>
<body>
<nav class="no-print">
    <ul class="menu">
      {{ range .Site.Menus.main }}
      <li><a href="{{ .URL | relURL }}">{{ .Name }}</a></li>
      {{ end }}
    </ul>
    <hr />
</nav>

<h1>{{ $page_title | markdownify }}</h1>

{{ block "body" . }}{{ end }}

<footer class="no-print">
    {{ with .Site.Params.footer }}
    <hr />
    {{ . | markdownify }}
    {{ end }}
</footer>
{{ if .Page.Store.Get "hasMermaid" }}
<script src="https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.min.js"></script>
<script>
mermaid.initialize({ startOnLoad: true });
</script>
{{ end }}
{{ block "script" . }}{{ end }}
</body>

</html>