{{ define "head" }}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.2/dist/leaflet.css" integrity="sha256-sA+zWATbFveLLNqWO2gtiw3HL/lh1giY/Inf1BJ0z14=" crossorigin="" />
<link rel="stylesheet" href="{{ "/css/hiking.css" | relURL }}" />
{{ end }}
{{ define "body" }}
<div id="hiking-main">
<div id="hiking-map"></div>
<div id="hiking-list">
<ul>
  {{ range sort $.Site.Data.hiking "date" "desc" }}
  <li>
    <span class="date">{{ .date | time.Format "2006/01/02" }}</span>
    <a href="javascript:void(0);" onclick="flyTo({{ index .loc 0 }}, {{ index .loc 1 }})">
      {{.name | markdownify }}
      {{ if .ele }}({{.ele}}m){{ end }}
    </a>
  </li>
  {{ end }}
</ul>
</div>
</div>
{{ end }}

{{ define "script" }}
<script src="https://unpkg.com/leaflet@1.9.2/dist/leaflet.js"
  integrity="sha256-o9N1jGDZrf5tS+Ft4gbIK7mYMipq9lqpVJ91xHSyKhg=" crossorigin=""></script>
<script>
const list_markers = JSON.parse({{ $.Site.Data.hiking | jsonify }}).sort(function(a, b) {
  return a.date.localeCompare(b.date);
});


const max_lat = Math.max.apply(Math, list_markers.map(function(o) { return o.loc[0]; }));
const min_lat = Math.min.apply(Math, list_markers.map(function(o) { return o.loc[0]; }));
const max_long = Math.max.apply(Math, list_markers.map(function(o) { return o.loc[1]; }));
const min_long = Math.min.apply(Math, list_markers.map(function(o) { return o.loc[1]; }));

var map = L.map('hiking-map').setView([(max_lat + min_lat)/2, (max_long + min_long)/2], 8);
L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
    maxZoom: 19,
    attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
}).addTo(map);

var markers = {};

list_markers.forEach( m => {
  const marker = L.marker([m.loc[0], m.loc[1]]).addTo(map)
    .bindPopup(m.date +" " +m.name)  
   markers[m.loc[0] + "-" + m.loc[1]]=marker;
})

function flyTo(lat, long){
  const marker = markers[lat + "-" + long];  
  map.flyTo(marker.getLatLng(),15);
  marker.openPopup();
}

</script>
{{ end }}