{{ partial "top.html" . }}

<head>
    {{ partial "head.html" . }}
</head>
{{ partial "nav.html" . }}

<h1>{{ .Title | markdownify }}</h1>

{{ if .Date }}
<span class="date">{{ .Date.Format "2006/01/02" }}</span>
{{ if .GitInfo }}
<span class="date">(Last update: {{ .GitInfo.AuthorDate.Format "2006/01/02" }})</span>
{{ end }}
{{else}}
{{ if .GitInfo }}
<span class="date">Last update: {{ .GitInfo.AuthorDate.Format "2006/01/02" }}</span>
{{ end }}
{{ end }}
<hr />
<main>
    {{ .Content }}
</main>

{{ partial "footer.html" . }}

{{ partial "end.html" . }}