{{ partial "header.html" . }}

{{if not .IsHome }}
<h1>{{ .Title | markdownify }}</h1>
{{ end }}

{{ .Content }}

<ul>
  {{ $pages := .Pages }}
  {{ if .IsHome }}{{ $pages = .Site.RegularPages }}{{ end }}
  {{ range (where $pages "Section" "!=" "") }}
  <li>
    <a href="{{ .RelPermalink }}">{{ .Title | markdownify }}</a>
    <br/>
    {{ if (isset .GitInfo "AuthorDate") }}
    <span class="date">(Last update: {{ .GitInfo.AuthorDate.Format "2006/01/02" }})</span>
    {{ else }}
    {{ end }}
  </li>
  {{ end }}
</ul>

{{ partial "footer.html" . }}
